<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="../libs/bootstrap.css">
	<link rel="stylesheet" href="../css/core.css">
	<link rel="stylesheet" href="../css/index.css">

</head>

<body>
	<header>
		<div class="header-top">
			<div class="container">
				<div class="row">
					<div class="col-xs-3 col-sm-3 col-md-3 col-lg-2 header-logo"></div>
					<div class="col-xs-9 col-sm-9 col-md-9 col-lg-10 header-menu">
						<ul class="nav nav-pills" role="tablist">
							<li role="presentation"><a href="#">HOME</a></li>
							<li role="presentation"><a href="#">ABOUT US</a></li>
							<li role="presentation"><a href="#">OUR PROCESS</a></li>
							<li role="presentation"><a href="#">SERVICES</a></li>
							<li role="presentation"><a href="#">PRODUCTS</a></li>
							<li role="presentation"><a href="#">GALLERY</a></li>
							<li role="presentation"><a href="#">CONTACT US</a></li>
						</ul>
					</div>
					<div class="col-xs-9 col-sm-9 col-md-9 col-lg-10 header-detail">
						<ul>
							<li class="header-detail-phone">
								<a title="13986164440" href="tel:13986164440">
									<span class="m-icon"></span>
									<span>13986164440</span>
								</a>
							</li>
							<li class="header-detail-mail">
								<a title="429200960@qq.com" href="mailto:429200960@qq.com">
									<span class="m-icon"></span>
									<span>
										429200960@qq.com
									</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</header>
	<div id="demo">
		<div class="index-top-banner"></div>
		<!--<img src="../img/banner1.jpg" alt="">-->
		<div class="carousel-caption">
			<div class="des">
				Plastic Fabrication and Welding</div>
			<p class="sub-title">
				<span>
                                    From cut to size, CNC computerised design, through to fabrication - your requirements will be met</span></p>

			<a title="Plastic Fabrication and Welding" class="btn btn-info" href="">View More</a>
			<div class="owl-buttons">
				<div class="owl-prev">
					prev</div>
				<div class="owl-next">
					next</div>
			</div>
		</div>
	</div>
	<div class="content-top">
		<div class="container">
			<div class="row">
				<div class="logo-c">
					<a href="" class="logo"></a>
				</div>
			</div>
			<div class="row">
				<div class="top-content">
					<h1 class="content-top-title">
						WELCOME TO KAYENDEE
					</h1>
					<div class="content-top-body">
						<h4>
							Looking for plastic manufacturers in Melbourne?</h4>
						<p>
							Kayendee Pty Ltd is a Melbourne-based company which provides world class custom solutions for all your plastic fabrication
							needs. Big or small, let us quote on your upcoming project. We are one of the leading plastic manufacturers Melbourne
							and Australia wide.</p>
						<p>
							Kayendee offers a wide range of custom solutions to meet all of your project's requirements. We are experts in plastic fabrication
							with years of experience in the field. We service any type of industry or business with the highest level skill and
							detail to every project.</p>
						<p>
							Our experienced plastic fabrication team can design, cut, form, weld, glue and much, much more, to meet your specific needs
							utilising the best of plastics including polycarbonate, polyethylene and the one of our most popular acrylic. Browse
							through our galleries for a small sample of the custom plastic fabrication that have been created and machined in
							our factory. Then, go ahead and contact us to begin your next plastic project. We'd love to add you to our ever-growing
							list of satisfied customers.</p>
						<p>
							Many of our customers have been with us since our start up as plastic manufacturers in Melbourne. They return because we
							provide innovative ideas and cost effective solutions. They return because of consistent quality and prompt, reliable
							service.</p>
						<div>
							<a class="btn btn-info" href="http://www.kayendee.com.au/about-us.aspx" title="Read More">Read More</a></div>
					</div>
				</div>

			</div>
		</div>
	</div>
</body>

</html>